{% extends 'base.html.twig' %}

{% block title 'Find all the best pins on earth!'%}

{% block body %}
{# // afficher le nombre de pin avec le filtre lenght #}
    <h1>{{pluralize(pins|length, 'Pin') }}</h1>
{# // on va parcourir notre tableau et pr chaque pin on va créé un article #}
    {% for pin in pins%}
        <article>
        {# //twig appel les getteurs #}
            <h2><a href="{{ path('app_pins_show', {id: pin.id}) }}">{{pin.title}}</a></h2>
            <p>{{pin.description}} </p>
        </article>
    {% endfor %}
{% endblock %}
